Kazuha.Windows-x86-64-SingleFile.exe
ppt_assistant/core/__pycache__/config.cpython-313.pyc
plugins/builtins/settings/__pycache__/plugin.cpython-313.pyc
ppt_assistant/core/__pycache__/config.cpython-313.pyc
ppt_assistant/ui/__pycache__/overlay.cpython-313.pyc
plugins/builtins/settings/__pycache__/plugin.cpython-313.pyc
plugins/__pycache__/webview_runner.cpython-313.pyc
plugins/__pycache__/webview_runner.cpython-313.pyc
ppt_assistant/ui/__pycache__/overlay.cpython-313.pyc
plugins/__pycache__/webview_runner.cpython-313.pyc
settings.json
