build.bat
run.bat
__pycache__/main.cpython-313.pyc
build/SeiraiPPTAssistant/Analysis-00.toc
build/SeiraiPPTAssistant/base_library.zip
build/SeiraiPPTAssistant/EXE-00.toc
build/SeiraiPPTAssistant/PKG-00.toc
build/SeiraiPPTAssistant/PYZ-00.pyz
build/SeiraiPPTAssistant/PYZ-00.toc
build/SeiraiPPTAssistant/SeiraiPPTAssistant.pkg
build/SeiraiPPTAssistant/warn-SeiraiPPTAssistant.txt
build/SeiraiPPTAssistant/xref-SeiraiPPTAssistant.html
build/SeiraiPPTAssistant/localpycs/pyimod01_archive.pyc
build/SeiraiPPTAssistant/localpycs/pyimod02_importers.pyc
build/SeiraiPPTAssistant/localpycs/pyimod03_ctypes.pyc
build/SeiraiPPTAssistant/localpycs/pyimod04_pywin32.pyc
build/SeiraiPPTAssistant/localpycs/struct.pyc
dist/SeiraiPPTAssistant.exe
SeiraiPPTAssistant.spec
dist/0.0.7.exe
__pycache__/main.cpython-313.pyc
__pycache__/controller.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
__pycache__/widgets.cpython-313.pyc
__pycache__/main.cpython-313.pyc
__pycache__/main.cpython-313.pyc
venv/*
